<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <hooks>
      <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
        <patch:attribute name="type" value="Sitecore.Support.Diagnostics.MemoryMonitorHook, Sitecore.Support.96124"/>
      </hook>
    </hooks>
  </sitecore>
</configuration>